In [2]:
# 거듭제곱

var_01 = 2
print("거듭제곱 :", var_01**2)
print("거듭제곱 :", pow(var_01, 2))

거듭제곱 : 4
거듭제곱 : 4

### 파이썬 모듈을 이용한 수학계산

In [3]:
import math # 수학 계산 모듈

In [4]:
math.pow(var_01, 2)

4.0

In [5]:
# 제곱근
math.sqrt(var_01)

1.4142135623730951

In [6]:
# sin 45도
math.sin(45)

0.8509035245341184

In [9]:
# sin45 ^ 2 + cos45^2
math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

### 난수 발생

In [10]:
import random as rd

In [11]:
rd.randint(1, 100)

47

In [17]:
# 범위의 수
var_01 = [1,2,3,4,5,6,7,8,9,10]
print(var_01)

var_02 = list(range(1, 11, 1))

print(var_02)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# 2에서 10까지의 짝수만 출력
print(list(range(2, 11, 2)))
for i in range(2, 11, 2):
    print(i, end= " ")
print()
print(list(range(10, 1, -2)))
for i in range(10, 1, -2):
    print(i, end= " ")

[2, 4, 6, 8, 10]
2 4 6 8 10
[10, 8, 6, 4, 2]
10 8 6 4 2

In [41]:
# sampling
lotto_list = range(1, 46)
rd.sample(lotto_list, 6)

[39, 40, 33, 20, 38, 30]

In [42]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_11',
 '_16',
 '_18',
 '_19',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_4',
 '_40',
 '_41',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'i',
 'lotto_list',
 'math',
 'open',
 'quit',
 'rd',
 'var_01',
 'var_02']

In [43]:
var_01

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
del var_01

In [45]:
var_01

NameError: name 'var_01' is not defined

In [47]:
# 관계 연산자
num1 = 100
num2 = 20

print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

In [50]:
# 논리 연산자

num1 = 2
num2 = 1

print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))

# 파이썬에서는 아래방법 위주로
print((num1 >= 50) and (num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [55]:
# 부정 연산자
num1 = 100
comp1 = not(num1 >= 50)
print(comp1)

False

In [56]:
# terminal 명령어
!ls

01.Preview.ipynb             =
02.변수와 자료형.ipynb

### 문자열 자료형

In [57]:
var_01 = "Hello World!"
var_01

'Hello World!'

In [60]:
# 여러줄의 문자열 출력
var_01 = """
    Hello World!
    Good to meet you!
"""
print(var_01)

    Hello World!
    Good to meet you!

In [61]:
# 쌍따옴표와 홑따옴표의 사용
var_01 = "My father's wife is my mother"
var_02 = 'He says "I love you."'

print(var_01)
print(var_02)

My father's wife is my mother
He says "I love you."

In [64]:
# 특수문자 사용한 출력
var_03 = 'aaa\nbbb'
print(var_03)

var_04 = 'aaa\tbbb'
print(var_04)

aaa
bbb
aaa	bbb

In [65]:
# 문자열 연산 (덧셈)
var_01 = "Python"
var_02 = "is fun"

print(var_01 + var_02)
print(var_01, var_02)

Pythonis fun
Python is fun

In [66]:
# 문자열 연산 (곱셈)
var_01 = "Python"

print(var_01 * 3)

PythonPythonPython

In [67]:
print("=" * 20)
print("python")
print("=" * 20)

====================
python
====================

In [73]:
print("*" * 21, "\nPython\t\t파이썬\n", "*"*21, sep="")

*********************
Python		파이썬
*********************

In [87]:
# 문자열 indexing과 slicing
str = "abcdefghijklmn"
print(str)
print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])

# fghijkl
print(str[5:-2])

abcdefghijklmn
a
abc
n
fghijklmn
abcde
fghijkl

In [100]:
str = "20201229Snow"
print(str[0:4], str[4:8], str[8: 12])

2020 1229 Snow

In [108]:
str = "abbde"
# str[2] = "c"
str = str[0:2] + "c" + str[3:]
print(str)

abcde

### 문자열 formatting

In [112]:
# %d
print("I have %d apples."%2)

I have 2 apples.

In [110]:
# %s
print("I have %s apples."%"two")

I have two apples.

In [113]:
number = 2
fruit = 'apples'
print("I have %d %s."%(number,fruit))

I have 2 apples.

In [114]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [116]:
print("-"*20)
# 10.4f => 전체자리 10자리 소수점은 4자리까지
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

--------------------
3.1416
    3.1416

## f-string 포맷팅
: python 3.6 이상

In [118]:
name = "홍길동"
age = 32

print(f"{name}의 나이는 {age}살 입니다.")

홍길동의 나이는 32살 입니다.

In [134]:
# 숫자는 좌측정렬
# 문자는 우측정렬

number = 1234567
# 좌측 정렬
print("-"*30)
print(f"{number}")
# 총 20 길이 문자열 좌측 정렬
print(f"*{number:<20}*")

# 우측 정렬
print(f"*{number:>20}*")

# 가운데 정렬
print(f"*{number:^20}*")

# 빈칸 채우기
print(f"*{number:0>20}*")

# 가운데 정렬, 빈칸채우기(-), 천단위 쉼표
print(f"*{number:-^20,}*")

# 실수
f_number = 3.141592
print(f"[{f_number:20.3f}]")

------------------------------
1234567
*1234567             *
*             1234567*
*      1234567       *
*00000000000001234567*
*-----1,234,567------*
[               3.142]

### 문자열 관련 함수

In [138]:
# 문자 count
str = "I have a dream."

# str의 a가 몇개?
print(str.count('a'))

# 전체 글자 갯수
print(len(str))
print(str[len(str)-1])

3
15
.

In [141]:
# 문자 위치 알려주기 - 1
print(str.find('e'))
print(str[str.find('e')])
print(str.find('x'))

5
e
-1

In [143]:
# 문자 위치 알려주기 - 2
str = "Life is too short to be happy."
print(str.index('f'))
print(str.index('z'))

2

ValueError: substring not found

In [144]:
# 특정 글자의 모든 위치를 알아내는 방법 - 1
str = "I have a dream."
search_word = 'a'

start = 0
count = 0

while True:
    position = str.find(search_word, start)
    if position == -1:
        break
    count += 1
    print(f"단어 {search_word}의 {count}번의 위치는 {position}입니다.")
    start = position + len(search_word)

단어 a의 1번의 위치는 3입니다.
단어 a의 2번의 위치는 7입니다.
단어 a의 3번의 위치는 12입니다.

In [145]:
# 특정 글자의 모든 위치를 알아내는 방법 - 2 : 정규식 & List Comperhension
import re

str = "I have a dream."
search_word = 'a'

positions = [match.start() for match in re.finditer(search_word, str)]
print(f'단어 {search_word}의 위치는{positions}입니다.')

단어 a의 위치는[3, 7, 12]입니다.

In [150]:
positions = []
for match in re.finditer(search_word, str):
    print(match)
    print(match.start())
    positions.append(match.start())

print(f'단어 {search_word}의 위치는{positions}입니다.')

<re.Match object; span=(3, 4), match='a'>
3
<re.Match object; span=(7, 8), match='a'>
7
<re.Match object; span=(12, 13), match='a'>
12
단어 a의 위치는[3, 7, 12]입니다.

In [152]:
# 문자열 삽입
str = ","
str.join("acdefg")

'a,c,d,e,f,g'

In [155]:
# 소문자를 대문자로 바꾸기
str = "hi"
str.upper()

'HI'

In [156]:
# 대문자를 소문자로 바꾸기
str = "HI"
str.lower()

'hi'

In [157]:
# 왼쪽 공백 지우기
str = '      hi'
str.lstrip()

'hi'

In [158]:
# 오른쪽 공백 지우기
str = 'hi        '
str.rstrip()

'hi'

In [159]:
# 양쪽 공백 지우기
str = '      hi       '
str.strip()

'hi'

In [160]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [162]:
# 문자열 나누기
str = "Life is too short to be happy."
list_01 = str.split() # 공백기준
print(list_01)

print(type(list_01))

['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']
<class 'list'>

In [163]:
str = "a:b:c:d"
print(str.split(':'))

['a', 'b', 'c', 'd']

### 날짜형 변환

In [164]:
from datetime import datetime, timedelta

In [166]:
time1 = datetime(2024,12,25,21,0,0,0)
print(time1)

2024-12-25 21:00:00

In [172]:
# 날짜 계산하기
time2 = datetime.now()
print(time1)
print(time2)
print(time1 - time2)
print(type(time2))

2024-12-25 21:00:00
2024-09-19 13:51:57.426055
97 days, 7:08:02.573945
<class 'datetime.datetime'>

In [175]:
print((time1 - time2).days)
print((time1 - time2).seconds)

97
25682

In [180]:
# 시간으로 확인하기
print(((time1 - time2).days * 24) + math.floor((time1 - time2).seconds / 60 / 60))
((time1 - time2).days * 24)

2335

2328

In [183]:
# 특정 날짜로 부터 시간 계산
print(f"현재 시간부터 5일뒤는 {time2 + timedelta(days=5)}")
print(f"현재 시간부터 3일전은 {time2 + timedelta(days=-3)}")
print(f"현재 시간부터 1일뒤의 2시간전은 {time2 + timedelta(days=1, hours=-2)}")

현재 시간부터 5일뒤는 2024-09-24 13:51:57.426055
현재 시간부터 3일전은 2024-09-16 13:51:57.426055
현재 시간부터 1일뒤의 2시간전은 2024-09-20 11:51:57.426055

In [188]:
timeOn = datetime.now()
timeOnday = timeOn.date()
print(timeOnday)
print(timeOn.date().year)
print(timeOn.year)
print(timeOnday.year)

2024-09-19
2024
2024
2024

### 리스트(List) 자료형
- 숫자나 문자의 모음을 하나의 자료형으로 표현하기 위해 사용
- 표현 방법 : 리스트명 = [요소1, 요소2, ...]

In [196]:
var01 = []
var02 = [1, 2, 3]
var03 = ['I', 'have', 'a', 'dream']
var04 = [1, 2, 'Dream', 'True']
var05 = [1, 2, ['Dream', True]]

In [198]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05[2][0])

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', 'True']
Dream

In [199]:
# 리스트 계산
var02[0] + var02[1]

3

In [203]:
var = [1,2, ['a','b', ['Dream', True]]]

print(var[-1][-1][0])

Dream

In [208]:
# [1, 2]
print(var[0:2])
# [['a', 'b',['Dream', True]]]
print(var[2:])
# b
print(var[-1][1])

[1, 2]
[['a', 'b', ['Dream', True]]]
b

### 리스트 연산자

In [209]:
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [210]:
# 덧셈
for i in range(0, len(var01)):
    print(var01[i] + var02[i])

5
7
9

In [212]:
# 리스트의 반복 숫자
print(var01)
print(var01 * 3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [214]:
# 리스트의 곱셈
# 1,2,3 -> 10, 20, 30
for i in var01:
    print(i * 10)

10
20
30

In [215]:
var01 = ['a','b','c']
var02 = ['e','f','g']
var01 + var02

['a', 'b', 'c', 'e', 'f', 'g']

In [216]:
var01 * 3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [221]:
var = [1, 2, 3]
# '3hi'
# var[2] + 'hi' # 숫자와 문자를 합칠수 없다.
str(var[2]) + 'hi'

TypeError: 'str' object is not callable

In [223]:
# 리스트 요소 존재 여부 확인
list01 = [1,2,3,4,5]
print(3 in list01)
print(7 in list01)

True
False

### 리스트의 수정과 삭제

In [235]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [236]:
# 요소
var[1] = ['a', 'b', 'c']
print(var)

# 범위는 다름
var[1:2] = ['a', 'b', 'c']
print(var)

[1, ['a', 'b', 'c'], 4]
[1, 'a', 'b', 'c', 4]

In [237]:
var[1:3] = []
var

[1, 'c', 4]

In [238]:
del var[1]
var

[1, 4]

In [249]:
# [100, 200, 300, 400, 500, 600, 700]
varEx = list(range(100,701,100))
varEx

[100, 200, 300, 400, 500, 600, 700]

In [250]:
# 200 삭제하기
# varEx.remove(200)
del varEx[1]
varEx

[100, 300, 400, 500, 600, 700]

In [251]:
# 300, 400, 500 삭제하기
del varEx[1:4]
# varEx[1:4] = []
varEx

[100, 600, 700]

In [252]:
# 원래 상태로 복원하기
varEx[1:2] = [200,300,400,500,600]
varEx

[100, 200, 300, 400, 500, 600, 700]

### 리스트 관련 함수

In [253]:
# 리스트에 요소 추가 : 정수
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [254]:
# 리스트에 요소 추가 : 리스트
var.append([5, 6])
var

[1, 2, 3, 4, [5, 6]]

In [255]:
# 리스트 정수 정렬
var = [1,4,3,2]
print(var)

# 오름차순 정렬
var.sort()
print(var)

# 내림차순 정렬
var.reverse()
print(var)

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [256]:
# 리스트 문자 정렬
var = ['a', 'c', 'b']
print(var)

# 오름차순 정렬
var.sort()
print(var)

# 내림차순 정렬
var.reverse()
print(var)

['a', 'c', 'b']
['a', 'b', 'c']
['c', 'b', 'a']

In [257]:
# 리스트 한글 정렬
var = ['대', '한', '민', '국']
print(var)

# 오름차순 정렬
var.sort()
print(var)

# 내림차순 정렬
var.reverse()
print(var)

['대', '한', '민', '국']
['국', '대', '민', '한']
['한', '민', '대', '국']

In [258]:
# 리스트의 위치 정보
var = [4,5,6]
var.index(5)

1

In [261]:
# 리스트에 요소 삽입
var = [1,2,3]
var.insert(0,4) # 0번위치에 4 삽입
var

[4, 1, 2, 3]

In [263]:
# 리스트에 요소 제거
var = [10,20,30]
var.remove(20) # 요소가 20인것을 제거
var

[10, 30]

In [264]:
# 리스트 요소 끄집어 내기
var = [1,2,3]
print(var.pop())
print(var)

3
[1, 2]

In [265]:
var = [1,2,3]
for i in range(0,3):
    print(var.pop())

print(var)

3
2
1
[]

In [266]:
# 원하는 위치를 pop 하기
var = [1,2,3]
print(var.pop(1)) # index번호
print(var)

2
[1, 3]

In [268]:
# 리스트의 요소 개수 세기
var = [1,2,3,4,4]
print(var.count(4))
print(len(var))

2
5

In [269]:
# 리스트의 확장
var = [1,2,3]
var.extend([4,5,6])
var

[1, 2, 3, 4, 5, 6]

In [273]:
evenVar = list(range(2,11,2))
oddVar = list(range(1,10,2))
evenVar.extend(oddVar)
print(evenVar)
print(sum(evenVar))

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
55

In [276]:
# Hello World! My name is Alice and I'm 30 years old.
list01 = [1, 3.14, "Hello World!", True, [170,50,30], ['Alice', 'Cathy']]

print(f"{list01[2]} My name is {list01[-1][0]} and I'm {list01[-2][-1]} years old.")

Hello World! My name is Alice and I'm 30 years old.

### 리스트의 복사

In [277]:
var01 = 1
var02 = 1
print(var01, var02)

1 1

In [278]:
var01 = var02 = 1
print(var01, var02)

var01 = 3
print(var01, var02)

1 1
3 1

1. Call by Reference

In [279]:
var01 = [1,2,3,4]
var02 = var01

In [280]:
var02[0] = 10
print(var01)
print(var02)

[10, 2, 3, 4]
[10, 2, 3, 4]

2. Call by Value

In [281]:
var01 = [1,2,3,4]
var02 = var01.copy()

In [282]:
var02[0] = 10
print(var01)
print(var02)

[1, 2, 3, 4]
[10, 2, 3, 4]