### 자료형의 참과 거짓
- 문자열인 경우 ""안에 데이터가 없으면 거짓    
- 리스트인 경우 []안에 데이터가 없으면 거짓    
- 튜플인 경우 ()안에 데이터가 없으면 거짓    
- 딕셔너리인 경우 {}안에 데이터가 없으면 거짓
- 숫자인 경우 0이면 거짓

In [1]:
# 리스트형에서 자료 출력하면서 자료 지우기
var = [1,2,3,4]

while(var):
    print(var.pop())

var

4
3
2
1

[]

In [5]:
# 튜플을 사용한 변수 생성
var01, var02 = 1, 2
var02

2

In [6]:
var01, var02 = 1, "Lee"
var02

'Lee'

In [7]:
(var01, var02) = (1, 'Lee')
var02

'Lee'

In [9]:
# 변수 값 교환
var01 = 3
var02 = 5
print(var01, var02)

var01, var02 = var02, var01
print(var01, var02)

3 5
5 3

In [11]:
var01 = [1,2,3]
# var02 = var01.copy()
var02 = var01[:]
var02[1] = 4
print(var01)
print(var02)

[1, 2, 3]
[1, 4, 3]

In [13]:
from copy import copy

var01 = [1,2,3]
var02 = copy(var01)
var02[1] = 4
print(var01)
print(var02)

[1, 2, 3]
[1, 4, 3]

---
### 자료형 변환

In [14]:
# 문자열을 정수로 변환

str_num = '123'
int_num = int(str_num)
type(int_num)

int

In [15]:
# 문자열을 실수로 변환
str_num = '123.456'
float_num = float(str_num)
type(float_num)

float

In [16]:
# 정수를 문자열로 변환
int_num = 123
str_num = str(int_num)
type(str_num)

str

In [19]:
# 실수를 정수로 변환
float_num = 123.456
int_num = int(float_num)
print(type(int_num))
print(int_num)

<class 'int'>
123