In [2]:
# range함수
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
# 1에서 10까지의 제곱근을 출력하기
import math

for i in range(1, 11):
    print(f"{i:>2} : {math.sqrt(i):.8f}")

for i in range(1, 11):
    print("%2d : %.8f"%(i,math.sqrt(i)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766
 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [21]:
# 구구단
dan = 9
for i in range(1,10):
    print(dan,"X", i, '=', '%2d'%(i*dan))

9 X 1 =  9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [24]:
print('aaaa', end='\n')
print('bbbb')

aaaa
bbbb

In [28]:
# 구구단 결과만 출력하기
for dan in range(2,10):
    for i in range(1,10):
        print('%2d'%(dan*i), end=' ')
    print()

print()

# 구구단 결과만 출력하기
for dan in range(2,10):
    for i in range(1,10):
        print(f"{dan*i:>2}", end=' ')
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

### for문에 Tuple사용하기

In [47]:
data = [(1,2), (3,4), (5,6)]

for first, last in data:
    print(first, "+", last, '=', first + last)

1 + 2 = 3
3 + 4 = 7
5 + 6 = 11

In [50]:
# 위의 data의 전체 합계 구하기
sumData = 0
for first, last in data:
    sumData += first + last
print(sumData)

data_list = [first + last for first,last in data]
sum(data_list)

21

21

총 5명의 학생이 시험을 보았는데 시험 점수가 60점을 넘으면 합격이고 아니면 불합격이다.

In [59]:
# 학생 번호와 점수를 같이 보여주면서 합격여부 출력하기
scores = [90, 25, 67, 45, 80]

for student in range(0, len(scores)):
    print(f"{student+1}의 학생은 점수가 {scores[student]}{"이므로 합격 입니다." if scores[student] >= 60 else "이어서 불합격 입니다."}")

print()
number = 1
for score in scores:
    if score <60:
        print(f"{number}의 학생은 점수기 {score} 이어서 불합격 입니다.")
    else:
        print(f"{number}의 학생은 점수기 {score} 이므로 합격 입니다.")
    number += 1

1의 학생은 점수가 90이므로 합격 입니다.
2의 학생은 점수가 25이어서 불합격 입니다.
3의 학생은 점수가 67이므로 합격 입니다.
4의 학생은 점수가 45이어서 불합격 입니다.
5의 학생은 점수가 80이므로 합격 입니다.

1의 학생은 점수기 90 이므로 합격 입니다.
2의 학생은 점수기 25 이어서 불합격 입니다.
3의 학생은 점수기 67 이므로 합격 입니다.
4의 학생은 점수기 45 이어서 불합격 입니다.
5의 학생은 점수기 80 이므로 합격 입니다.

In [63]:
# 학생 번호와 점수를 같이 보여주면서 합격한 학생만 보여주기
scores = [90, 25, 67, 45, 80]

number = 1
for score in scores:
    if score >= 60:
        print(f"{number}의 학생은 점수기 {score} 이므로 합격 입니다.")
    number += 1

print()

number = 0
for score in scores:
    number += 1
    if score <60:
        continue
    else:
        print(f"{number}의 학생은 점수기 {score} 이므로 합격 입니다.")

1의 학생은 점수기 90 이므로 합격 입니다.
3의 학생은 점수기 67 이므로 합격 입니다.
5의 학생은 점수기 80 이므로 합격 입니다.

1의 학생은 점수기 90 이므로 합격 입니다.
3의 학생은 점수기 67 이므로 합격 입니다.
5의 학생은 점수기 80 이므로 합격 입니다.

In [71]:
# 합격한 학생들의 점수를 List로 생성하여 평균 구하기
import numpy as np

scores = [90, 25, 67, 45, 80]
scores = [score for score in scores if score >= 60]

np.mean(scores)

79.0

### 문장과 단어 추출

In [72]:
stringText = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [73]:
sents = [] # 문장 저장
words = [] # 단어 저장

In [75]:
stringText.split('\n')

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']

In [76]:
# 문단 -> 문장
for sen in stringText.split('\n'):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

In [77]:
print("문장 : ", sents)
print("문장 수 : ", len(sents))
print("단어 : ", words)
print("단어 수 : ", len(words))

문장 :  ['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
문장 수 :  3
단어 :  ['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']
단어 수 :  9

In [80]:
fruits = ['apple', 'banana', 'cherry', 'orange']

for fruit in fruits:
    if fruit == 'orange':
        print('orange를 찾았습니다.')
        break
else:
    print('orange가 없습니다.')

orange를 찾았습니다.

---
# List Comprehension

In [81]:
var01 = [1,2,3,4]
var02 = [i* 5 for i in var01]
var02

[5, 10, 15, 20]

In [82]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 if i % 2 == 0]
var02

[10, 20]

In [87]:
# 구구단 결과만 리스트로 만들기 (2단~9단)
gugudan = [dan * i for dan in range(2,10) for i in range(1,10)]
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [92]:
# 2단부터 9단까지의 구구단 결과를 List Comprehension으로 생성
multiplication_table = [[i * j for j in range(1, 10)] for i in range(2, 10)]

print(multiplication_table)

# 결과 출력
for i, table in enumerate(multiplication_table, start=2):
    print(f"{i}단: {table}")

print(enumerate(multiplication_table, start=2))

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15, 18, 21, 24, 27], [4, 8, 12, 16, 20, 24, 28, 32, 36], [5, 10, 15, 20, 25, 30, 35, 40, 45], [6, 12, 18, 24, 30, 36, 42, 48, 54], [7, 14, 21, 28, 35, 42, 49, 56, 63], [8, 16, 24, 32, 40, 48, 56, 64, 72], [9, 18, 27, 36, 45, 54, 63, 72, 81]]
2단: [2, 4, 6, 8, 10, 12, 14, 16, 18]
3단: [3, 6, 9, 12, 15, 18, 21, 24, 27]
4단: [4, 8, 12, 16, 20, 24, 28, 32, 36]
5단: [5, 10, 15, 20, 25, 30, 35, 40, 45]
6단: [6, 12, 18, 24, 30, 36, 42, 48, 54]
7단: [7, 14, 21, 28, 35, 42, 49, 56, 63]
8단: [8, 16, 24, 32, 40, 48, 56, 64, 72]
9단: [9, 18, 27, 36, 45, 54, 63, 72, 81]
<enumerate object at 0x10e890b30>