## 함수
함수의 필요성:
- 똑같은 내용을 반복해서 작성하는 경우
- 프로그램의 유지보수시 프로그램의 흐름을 한번에 확인할 수 있다.

### numpy의 내장함수

In [2]:
import numpy as np

In [4]:
# 평균 구하기
np.mean(range(1, 11))

5.5

In [5]:
# 합계 구하기
np.sum(range(1, 11))

55

In [6]:
# 분산 구하기
np.var(range(1, 11))

8.25

In [7]:
# 표준편차 구하기
np.std(range(1, 11))

2.8722813232690143

In [8]:
# 분산이 표준편차의 제곱인지 확인하기
np.sqrt(np.var(range(1, 11))) == np.std(range(1, 11))

True

In [10]:
# 최대값 구하기
np.max(range(1, 11))

10

In [11]:
# 최소값 구하기
np.min(range(1, 11))

1

In [12]:
# 중앙값 구하기
np.median(range(1, 11))

5.5

In [19]:
# 누적합
np.cumsum(range(1,11))

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45, 55])

In [20]:
# 누적곱
np.cumprod(range(1,11))

array([      1,       2,       6,      24,     120,     720,    5040,
         40320,  362880, 3628800])

### 사용자 정의 함수

In [21]:
def test1():
    x = 10
    y = 20
    return x * y

In [22]:
test1()

200

In [24]:
def test2(num1, num2):
    return num1 * num2

In [25]:
test2(10, 20)

200

### 가변 길이 인수를 가진 함수 (언패킹 연산자)

In [27]:
def sumManyF(*n): # 인수명 앞에 * 표시
    total = 0
    for i in n:
        total += i
    return total

In [28]:
sumManyF(1,2,3)

6

In [29]:
sumManyF(1,2,3,4,5,6,7)

28

### 함수를 매개변수로 전달하기

In [30]:
def square(x):
    return x**2

In [35]:
def add10(x):
    return x+10

In [36]:
def find_square(x, calc_square):
    result = calc_square(x)
    return result

In [37]:
print(find_square(2, square))

4

In [38]:
print(find_square(2, add10))

12

In [49]:
def gugu(x, y):
    for dan in x:
        for i in y:
            print(dan, 'X', i, '=' , dan*i)
        print('-'*12)
    
    return [dan * i for dan in x for i in y]

In [50]:
x = [2, 5, 8]
y = [6, 7, 8, 9]

print(gugu(x, y))

2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
------------
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
------------
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
------------
[12, 14, 16, 18, 30, 35, 40, 45, 48, 56, 64, 72]

In [45]:
x = [3,5,7,9]
y = range(1,10,2)
gugu(x,y)

3 X 1 = 3
3 X 3 = 9
3 X 5 = 15
3 X 7 = 21
3 X 9 = 27
------------
5 X 1 = 5
5 X 3 = 15
5 X 5 = 25
5 X 7 = 35
5 X 9 = 45
------------
7 X 1 = 7
7 X 3 = 21
7 X 5 = 35
7 X 7 = 49
7 X 9 = 63
------------
9 X 1 = 9
9 X 3 = 27
9 X 5 = 45
9 X 7 = 63
9 X 9 = 81
------------

In [59]:
def sum_mulF(calc, *num):
    total = 0
    
    match(calc):
        case 'sum':
            for i in num:
                total += i
            return total
        case 'mul':
            total = 1
            for i in num:
                total *= i
            return total
        case _:
            return 'What are you talking about?'

In [62]:
result = sum_mulF('sum', 1,2,3,4,5)
print(result)

result = sum_mulF('mul', 1,2,3,4,5)
print(result)

result = sum_mulF('add', 1,2,3,4,5)
print(result)

15
120
What are you talking about?

In [68]:
def sum_mulF(calc, *num):
    return calc(*num)
    
def msum(*num):
    total = 0
    for i in num:
        total += i
    return total

def mmul(*num):
    total = 1
    for i in num:
        total *= i
    return total

In [71]:
result = sum_mulF(msum, 1,2,3,4,5)
print(result)

result = sum_mulF(mmul, 1,2,3,4,5)
print(result)

15
120

---

In [74]:
def sum_mul(num1, num2):
    return num1 + num2, num1 * num2
    # 위 코드와 같음
    return (num1 + num2, num1 * num2)

In [76]:
return_sum, return_mul = sum_mul(3, 4)
print(return_sum)

7

## 함수에 초기값 설정하기

In [80]:
def say_myself(name, age, gender=True): # gender 값을 적지 않으면 기본값 True
    print(f"나의 이름은 {name} 입니다.")
    print(f"나의 이름은 {age} 입니다.")
    if gender:
        print("남자 입니다.")
    else:
        print("여자 입니다.")

In [85]:
say_myself("유비", 30, True)

나의 이름은 유비 입니다.
나의 이름은 30 입니다.
남자 입니다.

In [86]:
say_myself("유비", 30)

나의 이름은 유비 입니다.
나의 이름은 30 입니다.
남자 입니다.

## 함수의 Scope

In [91]:
a = 1

def scopeTest1(a):
    return a + 1

print(scopeTest1(a))
print(a)

2
1

In [97]:
a = 1

def scopeTest1(a):
    return a + 1

print(scopeTest1(a))
a = scopeTest1(a)
print(a)

2
2

In [106]:
a = 1

def scopeTest1():
    global a
    a = a + 1
    return a

print(scopeTest1())

print(a)

2
2

### 원의 면적과 둘레를 구하는 함수
면적을 미분하면 둘레

In [109]:
import math

math.pi

3.141592653589793

In [111]:
def circle_area_length(radius):
    return radius ** 2 * math.pi, 2 * math.pi * radius

In [112]:
area, length = circle_area_length(5)
print(f"원의 면적 : {area}, 원의 둘레길이 : {length}")

원의 면적 : 78.53981633974483, 원의 둘레길이 : 31.41592653589793

---
## 람다(lambda) 함수
- 보통 함수를 한줄로 간결하게 만들때 사용한다.
- return 명령어가 필요 없다.

In [113]:
def addFunction(a, b):
    return a + b

In [114]:
addFunction(10, 20)

30

In [115]:
addLambda = lambda a, b : a + b
addLambda(10, 20)

30

### Tuple을 이용한 교집합 찾기

In [122]:
def intersect(t1, t2):
    result = ()
    for x in t1:
        if x in t2:
            result += (x,)

    return result

In [123]:
print(intersect((1, 'a', 2), ('b', 2, 'a')))

('a', 2)

In [124]:
def intersect2(t1, t2):
    return (x for x in t1 if x in t2)

In [126]:
print(list(intersect2((1, 'a', 2), ('b', 2, 'a'))))

['a', 2]

### 중첩함수(nest Function) / 내부함수(inner function)

In [127]:
def outer_function(x, y):
    def inner_function(z):
        return x+y+z
    return inner_function

In [128]:
result = outer_function(1, 2)
print(result(3))
print(result(4))

6
7